---
layout: default
---


<div class="portfolio">
  <h1 class="text-center">Portfolio</h1>
  <h4 class="text-center">These are a collection of personal projects and projects done at Turing School of Software & Design.</h4>
  <h3>The portfolio pages are currently under construction and links may not work properly. See my github profile to look over
  the repos.</h3>
  <div class="container">
    <div class="row">
      {% assign proj_reverse = site.portfolio | reverse %}
      {% for project in proj_reverse %}
      <h3>{{ project.title }}</h3>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div onclick="location.href='{{ project.url }}';" class="parent">
          <div class="img-fluid img">
            <img src="{{ project.image }}">
          </div>
          <div class="text">
            <p>
              {{ project.excerpt | strip_html }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>